/*définition des polices personnalisées*/

@font-face
{
    font-family: 'Roboto';
    src: url('POLICES/roboto/Roboto-Thin.ttf') format('ttf');
}


@font-face
{
    font-family: 'Montserrat';
    src: url('POLICES/montserrat/Montserrat-Black.ttf');
}

@font-face
{
    font-family: 'Montserrat-regular';
    src: url('POLICES/montserrat/Montserrat-Regular.ttf');
}

@font-face
{
    font-family: 'Montserrat-extralight';
    src: url('POLICES/montserrat/Montserrat-ExtraLight.ttf');
}

@font-face
{
    font-family: 'Montserrat-bold';
    src: url('POLICES/montserrat/Montserrat-Bold.ttf');
}

/*__________________________________fin_____________________________________*/

/*Suppression des marges extérieures et intérieurs*/
*
{
    margin: 0;
    padding: 0;
}


/*une dimension au grand bloc*/
#grand_bloc
{

    width: 100%;
    height: 100%;
    background-color: black;
}

/*________________________________________Section en-tête_____________________________________________*/
header /*une couleur pour l'en-tête*/
{
    background-color: #d92950;
    width: 100%;
    position: fixed;
    z-index: 1;
}

/*Les éléments de l'en-tête en inline-block*/
#partie_logo, #menu
{
    display: inline-block;
}

/*organisation du menu*/
#menu /*alignement du texte à droite dans une boite de 740px de largeur pour créer de l'espace  avec le logo*/
{
    width: 740px;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 30px;
}
#menu ul /*supression des puces*/
{
    list-style-type: none;
}
#menu li /*disposition sur la même ligne et espacement entre les liens*/
{
    display: inline-block;
    position: relative;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
}

#menu a /*la taille du texte menu*/
{
    font-size: 17px;
    color: white;
    text-decoration: none;
}

/*_______________fin organisation_____________________*/


/*positionnement du logo*/
#logo /*redimensionnement*/
{
    width: 80px;
    height: 50px;
}

#partie_logo /*marge intérieure*/
{
    padding: 10px 20px;
}
/*___________________________________________fin en-tête______________________________________________*/


/*___________________________________________bloc_1_page_1____________________________________________*/

#bloc_1_page_1
{
    height: 790px;
    background: url('Ressources/hero-background.jpg');
    background-position : center;
    background-size: 100%;
}

#classe_1_bloc_1_page_1
{
    position: absolute;
    left: 27%;
    top: 28%;
}
#bloc_1_titre_page_1
{
    font-family: 'Montserrat', sans-serif;
    width: 580px;
    font-weight: 900;
    text-align:center;
    font-size: 71.17px;
    color: white;
}
#mot_en_jaune
{
    color: rgb(255, 230, 77);
}


#les_boutons
{
   display: inline-block;
   position: absolute;
   top: 310px;
   left: 35px;
}

.boutton
{
    display: inline-block;
    height: 25px;
    padding: 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    justify-content:center;
   
    color: #d92950;
    text-decoration: none;
}

#paragraphe_bloc_1_page_1
{
    font-size: 16px;
    width: 700px;
    text-align: center;
    font-family: 'Montserrat-ExtraLight', sans-serif;
    position: absolute;
    top: 400px;
    left: -10%;
    color: white;
    font-weight: 800;
}

#classe_2_bloc_1_page_1
{
    position: relative;
    top: 80%;
    left: 0%;
    right: 0%;
    height: 10%;   
}

.logo_technologie
{
    position: relative;
    top: -40%;
    padding: 52px;
    height: 45px;
    width: 50px;
    opacity: 0.5;

}
/*_______________________________________fin_bloc_1_page_1____________________________________________*/


/*_______________________________________bloc_2_page_1____________________________________________*/

#bloc_2_page_1
{
    height: 690px;
    background-color :#f1f0f3;
}

#photo_1_classe_1_bloc_2
{
    height: 370px;
    width: 485px;
    border-radius: 20px;
    position: relative;
    top: 80px;
    left: -60px;
}

#photo_2_classe_1_bloc_2
{
    height: 250px;
    width: 325px;
    border-radius: 20px;
    position: relative;
    top: 140px;
    left: -285px;
    z-index: auto;
}

#titre_classe_2_bloc_2_page_1
{
    color: #424345;
    font-size: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
    position: relative;
    top: -295px;
    left: 550px;
    width: 700px;
}

.illustration
{
    height: 90px;
    width: 50px;
    border-bottom: 2px solid #ea0000;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
}

#illustration_1_bloc_2_page_1, #illustration_2_bloc_2_page_1, #illustration_3_bloc_2_page_1, #illustration_4_bloc_2_page_1
{
    font-size: 1.25rem;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #424345;
    text-align: center;
    width: 300px;
}

#illustration_1_bloc_2_page_1
{
    
    position: relative;
    top: -255px;
    left: 580px;
}

#illustration_2_bloc_2_page_1
{
    position: relative;
    top: -415px;
    left: 945px;
}

#illustration_3_bloc_2_page_1
{
    
    position: relative;
    top: -400px;
    left: 580px;
}

#illustration_4_bloc_2_page_1
{
    position: relative;
    top: -584px;
    left: 945px;
}
/*_______________________________________fin bloc 2___________________________________________________*/


/*_______________________________________bloc_3_page_1____________________________________________*/

#bloc_3_page_1
{
    height: 500px;
    background-color: #d92950;
}

#titre_bloc_3_page_1
{
    font-size: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    position: relative;
    top: 25%;
    left: -1%;
}



#conteneur_partenaires
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1040px;
    height: 200px;
    overflow: hidden;
    position: relative;
    top: 35%;
    left: 9%;

}

.logo_partenaire
{
    padding: 50px;
    height: 30%;
    width: 60%;
}
/*___________________________________________fin block 3_________________________________________*/

/*___________________________________________block 4_________________________________________*/

#bloc_4_page_1
{
    background-color: #f1f0f3;
    height: 700px;
}

#classe_1_bloc_4_page_1, #classe_2_bloc_4_page_1
{
    background-color: darkorchid;
    width: 490px;
    height: 250px;
    padding-top: 50px;
    padding-right : 35px;
    padding-left : 35px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 30%;
    left: 5%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

#classe_1_bloc_4_page_1
{
    border-top: 10px #ffe453 solid;
    margin-right: 25px;
}

#classe_2_bloc_4_page_1
{
    border-top: 10px rgb(217, 41, 80) solid;
    margin-right: 20px;
}

.titre_classe_bloc_4_page_1
{
    margin-bottom: 15px;
    font-size: 28px;
    color: rgb(217, 41, 80);
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}

.paragraphe_classe_bloc_4_page_1
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family : 'Montserrat-regular', sans-serif;
    color: rgb(24, 0, 39, 0.87);
    margin-bottom: 35px;
}

#paragraphe_1_bloc_4_page_1
{
    align-items: center;
}

#paragraphe_2_bloc_4_page_1
{
    align-items: center;
}

.bouton_bloc_4_page_1
{
    display: inline-block;
    height: 25px;
    padding: 20px;
    margin-right: 10px;
    background-color: #d92950;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    justify-content:center;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

#titre_bloc_4_page_1
{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #392546;
    width: 70%;
    position: relative;
    top: 20%;
    left: 23%;
}

/*___________________________________________fin block 4_________________________________________*/

/*___________________________________________block 5_________________________________________*/

#bloc_5_page_1
{
    background-color: #d92950;
    height: 900px;
}

#conteneur_clients
{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 23%;
}

#titre_bloc_5_page_1
{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    position: relative;
    top: 12%;
    left: 25%;
    width: 800px;
}

.image_client
{
    height: 405px;
    width: 325px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.conteneur_client_logo
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#conteneur_logordc_bloc_5
{
    background-color: white;
    height: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 85px;
    position: relative;
    left: 26.8%;    
     
}

#intitule_logordc 
{
    position: relative;
    top: -25%;
    left:40%;
    font-family: 'Roboto', sans-serif;
    font-size: 11.2px;
    font-weight: 700;
    color: #d92950;
}

#conteneur_logotandem
{
    background-color: white;
    height: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100px;
    position: relative;
    left: 7.5%;  
}

#intitule_logosuisse
{
    font-family: 'Roboto', sans-serif;
    font-size: 11.2px;
    font-weight: 700;
    color: #d92950;
    position: relative;
    top: -25%;
    left: 30%;
}

#conteneur_logocompany
{
    background-color: white;
    height: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100px;
    position: relative;
    left: 14%; 
}

#intitule_logobelge
{
    font-family: 'Roboto', sans-serif;
    font-size: 11.2px;
    font-weight: 700;
    color: #d92950;
    position: relative;
    top: -25%;
    left: 10%;
}

.client_bloc_5
{
    margin-right: 60px;
    position: relative;
    
    left: 7%;

}

.logo_technologie_pour_client
{
    height: 10px;
    width: 10px;
}

.technologie_pour_client
{
    background-color: #ee4a5a;
    height: 29px;
    width: 325px;
}

.logo_client_bloc_5
{
    height: 20px;
    width: 20px;
}

.paragraphe_bloc_5
{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    color: white;
}

.site_client
{
    text-decoration: none;
}

.text_technologie_bloc_5, .site_client
{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    color: white;
}

.text_technologie_bloc_5
{
    position: relative;
    top: 17%;
}

/*_____________________________________________________*/
#bloc_6_page_1
{
    background-color: white;
    height: 900px;
}

#titre_bloc_6
{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #424345;
    position: relative;
    top: 12%;
    left: 60%;
    width: 800px;
}

#bloc_hardskills
{
    display: inline-block;
    height: 420px;
    width: 600px;
    background-color: #f1f0f3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
}

#titre_hardskills
{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: white;
    background-color: #ee4a5a;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.expertise
{
    height: 80px;
    width: 40px;
    margin-right: 100px;

}
#conteneur_expertise
{
    padding-left: 10px;
    padding-right: 10px;
    height: 350px;
    word-wrap: break-word;
}